{% extends 'backend/base.html.twig' %}

{% block title %}Créer un service{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Créer un service</h1>
            {{form_start(form)}}
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.name)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.description)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.price)}}
                    <div class="errors">{{form_errors(form.price)}}</div>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.company)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.category)}}
                </div>
                <button type="submit" class="btn">Créer</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}