{% extends 'backend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block activeGest %}active{% endblock %}
{% block activeServ %}active{% endblock %}

{% block title %}Liste des services{% endblock %}

{% block body %}
<script>
    $(document).ready( function () {
        $('#crudList').DataTable( {
            buttons: true,
            pageLength: 10,
            layout: {
                topStart: {
                    search: {
                        placeholder: "Rechercher...",
                        search: ""
                    }
                },
                topEnd: 'buttons',
                bottomStart: 'paging',
                bottomEnd: 'info',
            },
            language: {
                search: "",
                info: "Affichage des entrées _START_ à _END_ sur _TOTAL_ au total",
            },
            buttons: [
                'pdf'
            ],
            columnDefs: [
                {
                    targets: 3,
                    className: 'dt-body-left dt-head-left'
                },
                {
                    targets: -1,
                    orderable: false,
                },
            ]
        } );
    } );
</script>
    <div class="col-10 p-0">
        <div class="p-3">
            <div class="btn-create-row">
                <h1>Liste des services</h1>
                <a href="{{ path('serviceCreate') }}" class="btn btn-create"><div class="btnImage"><img style="height:20px;">Créer +</div></a>
            </div>
            <table id="crudList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Prestataire</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>
                                <form action="{{ path('companyShow') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="company" value="{{ service.company|json_encode }}">
                                    <button type="submit" class="btn btn-light provider" style="height:40px"><p> {{ service.company.companyName|capitalize }} </p></button>
                                </form>
                            </td>
                            <td>{{ service.name|capitalize }}</td>

                            <td>
                                <form action="{{ path('categoryShow') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="category" value="{{ service.category|json_encode }}">
                                    <button type="submit" class="btn btn-light provider" style="height:40px"><p> {{ service.category.name|capitalize }} </p></button>
                                </form>
                            </td>

                            <td>{% if service.price is defined %}{{ service.price }} €{% endif %}</td>
                            <td class="action">
                                <a href="{{ path('serviceDelete', {'id': service.id }) }}" class="btn" style="background-color: #EE3939;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/bin.png') }}></div></a>
                                <form action="{{ path('serviceEdit') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="service" value="{{ service|json_encode }}">
                                    <button type="submit" class="btn" style="background-color: #18A0FB;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/pen.png') }}></div></button>
                                </form>
                                <form action="{{ path('serviceShow') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="service" value="{{ service|json_encode }}">
                                    <button type="submit" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:17px;" src={{ asset('icons/crud/chart.png') }}></div></button>
                                </form>
                                <form action="{{ path('serviceUnavailable') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="service" value="{{ service|json_encode }}">
                                    <button type="submit" class="btn" style="background-color: #18A0FB;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/pen.png') }}></div></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}