{% extends 'backend/base.html.twig' %}

{% block activeGest %}active{% endblock %}
{% block activeApar %}active{% endblock %}

{% block title %}Modifier un appartement{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Modifier un appartement</h1>
            {{form_start(form)}}
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.name)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.description)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.price)}}
                    <div class="errors">{{form_errors(form.price)}}</div>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.bedrooms)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.bathrooms)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.travelersMax)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.owner)}}
                    <p>{{ defaults.owner }}</p>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.addons)}}
                    {% if defaults.addons is defined and defaults.addons is not empty %}
                        <ul>
                            {% for addon in defaults.addons %}
                                <li>{{ addon }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <button type="submit" class="btn">Modifier</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}