{% extends 'backend/base.html.twig' %}

{% block title %}Afficher un appartement{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Afficher un appartement</h1>
            <div class="row">
                <div class="col-6">
                    <p><strong>Id :</strong> {{ apartment.id }}</p>
                    <p><strong>Nom :</strong> {{ apartment.name }}</p>
                    <p><strong>Description :</strong> {{ apartment.description }}</p>
                    <p><strong>Chambres :</strong> {{ apartment.bedrooms }}</p>
                    <p><strong>Voyageurs max :</strong> {{ apartment.travelersMax }}</p>
                    <p><strong>Créé le :</strong> {{ apartment.dateCreation|date('d/m/Y H:i:s') }}</p>
                    <p><strong>Superficie :</strong> {{ apartment.area }}</p>
                    <p><strong>Numéro d'appartement :</strong> {{ apartment.apartNumber }}</p>
                    <p><strong>Adresse :</strong> {{ apartment.address }}</p>
                    <p><strong>Code postal :</strong> {{ apartment.postalCode }}</p>
                    <p><strong>Ville :</strong> {{ apartment.city }}</p>
                    <p><strong>Pays :</strong> {{ apartment.country }}</p>
                    <p><strong>Prix :</strong> {{ apartment.price }}€</p>
                    <div class="col-6">
                        <p><strong>Photo :</strong></p>
                        <img src="https://thumb.canalplus.pro/http/unsafe/1920x1080/smart/creativemedia-image.canalplus.pro/content/0001/40/97e6a76d9788e3e0eea6fddbd68b4fb8b8d5cdda.jpeg" alt="{{ apartment.name }}" class="img-fluid">
                    </div>
             </div>
        </div>
    </div>
{% endblock %}