{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('styles/frontend/contact.css') }}>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block activeContact1 %}active{% endblock %}
{% block activeContact2 %}active{% endblock %}
{% block activeContact3 %}active{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style=" margin: 100px; padding: 0px">
      <br><br><br><h3 class="text-align-center" style="font-family: 'Antonio'; font-size: 48px;">Paris<span style="color: #a594f9;"> Caretaker</span> Services</h3> 
    </div>
    <div class="row rowInfos">
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="round fa fa-map-marker"></span>
                </div>
                <div class="text">
                    <p>21 Rue Erard, 75012 Paris</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="round fa-phone fa"></span>
                </div>
                <div class="text">
                    <p><a href="tel://0231424547">02.31.42.45.47</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="round fa fa-paper-plane"></span>
                </div>
                <div class="text">
                    <p><a href="mailto:ne-pas-repondre@caretakerservices.fr">ne-pas-repondre@caretakerservices.fr</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <span class="round fa fa-globe"></span>
                </div>
                <div class="text">
                    <p><a href="#">caretakerservices.fr</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row contactForm justify-content-center">
        <h2><span class="h2span">{{ 'contacteznous'|trans({}, 'contact') }}</span></h2>
        <div style="width: 50vw;">
            {{ form_start(form) }}
                <div class="mb-3">
                    <label for="email" class="form-label">{{ 'email'|trans({}, 'contact') }}</label>
                    {% if form_errors(form.clientEmail) %}
                        <div class="error" style="color: red;">{{ form_errors(form.clientEmail) }}</div>
                    {% endif %}
                    {{ form_widget(form.clientEmail) }}
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">{{ 'sujet'|trans({}, 'contact') }}</label>
                    {% if form_errors(form.subject) %}
                        <div class="error" style="color: red;">{{ form_errors(form.subject) }}</div>
                    {% endif %}
                    {{ form_widget(form.subject) }}
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">{{ 'nom'|trans({}, 'contact') }}</label>
                    {% if form_errors(form.name) %}
                        <div class="error" style="color: red;">{{ form_errors(form.name) }}</div>
                    {% endif %}
                    {{ form_widget(form.name) }}
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">{{ 'message'|trans({}, 'contact') }}</label>
                    {% if form_errors(form.description) %}
                        <div class="error" style="color: red;">{{ form_errors(form.description) }}</div>
                    {% endif %}
                    {{ form_widget(form.description) }}
                </div>
                <button type="submit" class="btn btn-primary btnSend">{{ 'envoyer'|trans({}, 'contact') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="col-md-5 p-0">
        <div class="rightImg">
            <img src="{{ asset('icons/logo/2_dark_mode.png') }}" alt="image">
        </div>
    </div>
{% endblock %}