{% extends 'frontend/base.html.twig' %}

{% block body %}
   <div class="d-flex justify-content-center align-items-center" style=" margin: 100px; padding: 0px">
      <br><br><br><h3 class="text-align-center" style="font-family: 'Antonio'; font-size: 48px;">Paris<span style="color: #a594f9;"> Caretaker</span> Services</h3> 
    </div>

    <div class="row mt-5" style="background-color: #D9D9D9; padding: 120px;">
        <div class="col-5 d-flex align-items-center " style="justify-content: space-around;">
            <img src="{{ asset('icons/logo/3_white_mode.png') }}"  width="50%">
            <span style="display: inline-block; width: 1px; height: 80%; background-color: black; "></span>
        </div>

        <div class="col-7">
            <h4 style="font-family: 'Quicksand';"><span style="color: #a594f9; ">{{ 'qui'|trans({}, 'home') }}</span> {{ 'sommesnous'|trans({}, 'home') }}<h4>
            </br>
            <p style="font-family: 'Quicksand'; font-size: 32px;">{{ 'quinoussommes'|trans({}, 'home') }} </p>
            <ul style="font-family: 'Quicksand'; font-size: 24px;">
                <li>{{ 'logements'|trans({}, 'home') }}</li>
                <li>{{ 'prestations'|trans({}, 'home') }}</li>
                <li>{{ 'suivi'|trans({}, 'home') }}</li>
            </ul>
        </div>  
    </div>
    <div class="d-flex justify-content-center align-items-center" style=" margin: 40px;">
        <h3 style="font-family: 'Antonio'; font-size: 48px;">{{ 'nous'|trans({}, 'home') }} <span style="color: #a594f9;"> {{ 'rejoindre'|trans({}, 'home') }}</span></h3>
    </div>
    <div class="d-flex justify-content-center align-items-center">
         <p style="font-family: 'Quicksand'; font-size: 20px; ">{{ 'déjà'|trans({}, 'home')}} {{userCount}} {{'inscrits'|trans({}, 'home') }}</p>
    </div>
    <div style=" height: 20vh;">
        <div class="row" style="display: flex; justify-content: space-around; ">
            <a href="{{ path('login') }}" class=" btn me-3" style="width: 8vw; background-color: #A594F9; color: white; font-family: 'Quicksand'; font-size: 24px;">{{ 'connexion'|trans({}, 'home') }}</a>
            <a href="{{ path('register') }}" class="btn " style="width: 8vw; background-color: #3D2F44;color: white; font-family: 'Quicksand'; font-size: 24px;">{{ 'inscription'|trans({}, 'home') }}</a>
        </div>
    </div>
    <div  style="background-color: #D9D9D9; padding: 120px;">
        <div class="d-flex justify-content-center align-items-center">
            <h3 class="text-align-center" style="font-family: 'Antonio'; font-size: 48px;">{{ 'nos'|trans({}, 'home') }}<span style="color: #a594f9; "> {{ 'services'|trans({}, 'home') }}</span> </h3>
        </div>
        <br>
        <div>
            <div class="d-flex" style="display: flex; justify-content: space-around; ">
                <img src="{{ asset('icons/home/home_page_location_1.png') }}" style="width: 20%;">
                <img src="{{ asset('icons/home/home_page_prestation.png') }}" style="width: 20%;">
                <img src="{{ asset('icons/home/home_page_suivi.png') }}" style="width: 20%;">
            </div>
            <div class="d-flex" style="display: flex; justify-content: space-around; ">
                <h5  style="font-family: 'Quicksand'; font-size: 24px;">{{ 'location'|trans({}, 'home') }}</h5>
                <h5  style="font-family: 'Quicksand'; font-size: 24px; ">{{ 'prestations2'|trans({}, 'home') }}</h5>
                <h5  style="font-family: 'Quicksand'; font-size: 24px; ">{{ 'suivi2'|trans({}, 'home') }}</h5>
            </div>
            <div class="d-flex text-center" style="display: flex; justify-content: space-around; ">
                <p class="text-align-center" style="font-family: 'Quicksand'; font-size: 20px; width: 20%">{{ 'location2'|trans({}, 'home') }}</p>
                <p class="text-align-center" style="font-family: 'Quicksand'; font-size: 20px; width: 20%">{{ 'prestations3'|trans({}, 'home') }}</p>
                <p  class="text-align-center" style="font-family: 'Quicksand'; font-size: 20px; width: 20%">{{ 'suivi3'|trans({}, 'home') }}</p>
            </div>
            <div class="d-flex text-center" style="display: flex; justify-content: space-around;">
                <a href="{{ path('apartmentsList') }}" class="btn" style="width: 8vw; background-color: white; font-family: 'Antonio'; font-size: 24px;">{{ 'voirplus'|trans({}, 'home') }}</a>
                <a href="{{ path('servicesList') }}" class="btn " style="width: 8vw; background-color: white; font-family: 'Antonio'; font-size: 24px;">{{ 'voirplus'|trans({}, 'home') }}</a>
                <a href="{{ path('myProfile') }}" class="btn " style="width: 8vw; background-color: white; font-family: 'Antonio'; font-size: 24px;">{{ 'voirplus'|trans({}, 'home') }}</a>
            </div>
        </div>
    </div>
    <div>
    </div>



{% endblock %}