{% extends 'frontend/login_register/base.html.twig' %}

{% block stylesheets %}<link href={{ asset('styles/frontend/login_register/register.css') }} rel="stylesheet">{% endblock %}

{% block pageContent %}
<div class="registerCard">
    <div class="titleCard">
        <h2>Inscription</h2>
        <p class="titleDesc">Entrez votre email et votre mot de passe pour vous connecter</p>
    </div>
    {% if not formIsValid %}
    {{form_start(form)}}
        {{form_widget(form.choiceRadio)}}
        <div class="inputDivRow">
            <div class="errors">{%if errorMessages %}<ul>{% for errorMessage in errorMessages %}<li>{{errorMessage}}</li>{% endfor %}</ul>{% endif %}{{form_errors(form.firstname)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form.firstname)}}
            </div>
            <div class="errors">{{form_errors(form.lastname)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form.lastname)}}
            </div>
        </div>
        <div class="inputDivRow">
            <div class="errors">{{form_errors(form.email)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form.email)}}
            </div>
            <div class="errors">{{form_errors(form.telNumber)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form.telNumber)}}
            </div>
        </div>
        <div class="inputDivRow">
            <div class="errors">{{form_errors(form.password)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form.password)}}
            </div>
            <div class="errors">{{form_errors(form.confirmation)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form.confirmation)}}
            </div>
        </div>
        <button type="submit" class="btn registerBtn">Se connecter</button>
    {{form_end(form)}}
    {% endif %}

    {% if formIsValid %}
    {{form_start(form1)}}
        <div class="inputDivRow">
            <div class="errors">{%if errorMessages %}<ul>{% for errorMessage in errorMessages %}<li>{{errorMessage}}</li>{% endfor %}</ul>{% endif %}{{form_errors(form1.companyName)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form1.companyName)}}
            </div>
            <div class="errors">{{form_errors(form1.companyEmail)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form1.companyEmail)}}
            </div>
        </div>
        <div class="inputDivRow">
            <div class="errors">{{form_errors(form1.siretNumber)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form1.siretNumber)}}
            </div>
            <div class="errors">{{form_errors(form1.companyPhone)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form1.companyPhone)}}
            </div>
        </div>
        <div class="inputDivRow">
            <div class="errors">{{form_errors(form1.address)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form1.address)}}
            </div>
            <div class="errors">{{form_errors(form1.city)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form1.city)}}
            </div>
        </div>
        <div class="inputDivRow">
            <div class="errors">{{form_errors(form1.postalCode)}}</div>
            <div class="inputDiv">
                <img src="{{ asset('icons/login/email.png') }}" alt="Firstname" class="inputLogo">
                {{form_widget(form1.postalCode)}}
            </div>
            <div class="errors">{{form_errors(form1.country)}}</div>
            <div class="inputDiv"> 
                <img src="{{ asset('icons/login/lock.png') }}" alt="Lastname" class="inputLogo">
                {{form_widget(form1.country)}}
            </div>
        </div>
        <button type="submit" class="btn registerBtn">Se connecter</button>
    {{form_end(form1)}}
    {% endif %}
</div>
<a href="#" class="noAccount">Vous n’avez pas de compte ? <span style="color: #3D2F44;">Inscrivez vous</span></a>
{% endblock %}