{% extends 'backend/base.html.twig' %}

{% block activeGest %}active{% endblock %}
{% block activeApar %}active{% endblock %}

{% block title %}Modifier un appartement{% endblock %}

{% block stylesheets %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Modifier un appartement</h1>
            <div class="errors">{%if errorMessages is defined %}<ul>{% for errorMessage in errorMessages %}<li>{{errorMessage}}</li>{% endfor %}</ul>{% endif %}</div>
            {{form_start(form)}}
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.content)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.rate)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.author)}}
                    <p>{{ defaults.author }}</p>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.service)}}
                    {% if defaults.service is defined %}<p>{{ defaults.service }}</p>{% endif %}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.apartment)}}
                    {% if defaults.apartment is defined %}<p>{{ defaults.apartment }}</p>{% endif %}
                </div>
                <button type="submit" class="btn">Modifier</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}