{% extends 'backend/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('styles/crud.css') }}>
    <link rel="stylesheet" href={{ asset('styles/dashboard.css') }}>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" rel="stylesheet"/>
{% endblock %}

{% block activeDash %}active{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="col-10 p-0">
            <div class="p-3">
            <h1>Dashboard</h1>
            <div class="stats">
                <div class="cards">
                    <a href="{{ path('apartmentCrud') }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Logements</h5>
                                <p class="card-number">{{ apartments}}</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('serviceList') }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Services</h5>
                                <p class="card-number">{{ services }}</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('companyList') }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Entreprises</h5>
                                <p class="card-number">{{ companies}}</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('lessorList') }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Utilisateurs</h5>
                                <p class="card-number">{{ users|length }}</p>
                            </div>
                        </div>
                    </a>
                    <a href="{{ path('reservationList') }}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Réservations</h5>
                                <p class="card-number">{{ reservations|length }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="graphandlist">
                <div class="graphs">
                    <div class="graph">  
                        <canvas id="chartUsers"></canvas>     
                    </div>
                    <div class="graph">
                        <canvas id="chartReservations"></canvas>     
                    </div>
                </div>
                <div class="lists">
                    <div class="list">
                        <h1>Derniers inscrits</h1>
                        {% for user in users|slice(0, 10) %}
                            <div class="user">      
                                <p class="name"> {{ user.firstname|capitalize }} {{ user.lastname|capitalize }} </p><p class="date"> {{ user.dateInscription | date('d/m/Y H:i:s') }} </p>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="list">
                        <h1>Dernières réservations</h1>
                        {% for reservation in reservations|slice(0, 10) %}
                            <div class="reservation">      
                                <p class="name"> {{ reservation.user.firstname|capitalize }} {{ reservation.user.lastname|capitalize }} </p><p class="date"> {{ reservation.dateCreation | date('d/m/Y H:i:s') }} </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const userLabels = {{ chartUsers.labels|json_encode|raw }};
        
        let cuLabels = new Array();
        for (let j = 0; j < 7; j++) {
            cuLabels[j] = userLabels[j];
        }
        console.log(cuLabels);
        
        const userData = {{ chartUsers.data|json_encode|raw }};
        
        let cuData = new Array();
        for (let j = 0; j < 7; j++) {
            cuData[j] = userData[j];
        }

        new Chart("chartUsers", {
            type: 'line',
            data: {
              labels: cuLabels,
              datasets: [{
                label: 'Users',
                backgroundColor: 'rgba(0, 0, 255, 0.5)',
                borderColor: 'rgba(0, 0, 255, 1)',
                data: cuData,
              }]
            },
            options: {},
          });




        const reservationLabels = {{ chartReservations.labels|json_encode|raw }};
        
        let crLabels = new Array();
        for (let j = 0; j < 7; j++) {
            crLabels[j] = reservationLabels[j];
        }
        console.log(crLabels);
        
        const reservationData = {{ chartReservations.data|json_encode|raw }};
        
        let crData = new Array();
        for (let j = 0; j < 7; j++) {
            crData[j] = reservationData[j];
        }

        new Chart("chartReservations", {
            type: 'line',
            data: {
              labels: crLabels,
              datasets: [{
                label: 'Reservations',
                backgroundColor: 'rgba(0, 0, 255, 0.5)',
                borderColor: 'rgba(0, 0, 255, 1)',
                data: crData,
              }]
            },
            options: {},
          });
    </script>
{% endblock %}

