{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('styles/frontend/apartments/apartmentCreate.css') }}>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block activeCreaApar %}active{% endblock %}

{% block body %}
<div class="container-fluid pageContent">
    {{form_start(form)}}
    <div class="row">
        <div class="mainImg p-0" id="preview">
            <label for="form_mainPict" class="drop-container" id="dropcontainer">
                <span class="drop-title">{{ 'déposer'|trans({}, 'apartments') }}</span>
                {{ 'ou'|trans({}, 'apartments') }}
                {{ form_widget(form.mainPict) }}
            </label>
        </div>
    </div>
    <div class="mainInfos">
        <div class="row">
            <div class="col-12 inputs">
                <div class="input inputName">
                    <h4>{{ 'nom'|trans({}, 'apartments') }}</h4>
                    <p>({{ 'entre'|trans({}, 'apartments') }})</p>
                    {{ form_widget(form.name) }}
                </div>
                <div class="input inputNb">
                    <h4>{{ 'chambresdispo'|trans({}, 'apartments') }}</h4>
                    {{ form_widget(form.bedrooms) }}
                </div>
                <div class="input inputNb">
                    <h4>{{ 'sallesdebain'|trans({}, 'apartments') }}</h4>
                    {{ form_widget(form.bathrooms) }}
                </div>
                <div class="input inputNb">
                    <h4>{{ 'voyageurs2'|trans({}, 'apartments') }}</h4>
                    {{ form_widget(form.travelersMax) }}
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 inputs">
                <div class="input inputDesc">
                    <h4>{{ 'description'|trans({}, 'apartments') }}</h4>
                    <p>({{ 'entre2'|trans({}, 'apartments') }})</p>
                    {{ form_widget(form.description) }}
                </div>
                <div class="input inputNb">
                    <h4>Surface (m²).</h4>
                    {{ form_widget(form.area) }}
                </div>
                <div class="input inputNb">
                    <h4>{{ 'type'|trans({}, 'apartments') }}</h4>
                    {{ form_widget(form.isHouse) }}
                </div>
                <div class="input inputNb">
                    <h4>{{ 'type2'|trans({}, 'apartments') }}</h4>
                    {{ form_widget(form.isFullhouse) }}
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 inputs">
                <div class="input inputDesc">
                    
                </div>
                <div class="input inputNb">
                    <h4>{{ 'prix/nuit'|trans({}, 'apartments') }}</h4>
                    <div class="input-group">
                        {{ form_widget(form.price)  }}
                        <span class="input-group-text" id="basic-addon2">€</span>
                    </div>
                </div>
                <div class="input inputAdr">
                    <h4>{{ 'adresse'|trans({}, 'apartments') }}</h4>
                    <div id="geocoder" style="position: relative; height: 3vh;"></div>
                    {{form_widget(form.address)}}
                </div>
            </div>
        </div>
        <hr class="mt-5">
        <div class="row">
            <div class="col-3"> 
                <h4 style="height: 3vh;">{{ 'date'|trans({}, 'apartments') }}</h4>
                <input type="text" name="daterange" value="" class="mt-3 inputIndispo">
                <div id="selectedDates" style="height: 200px; overflow-y: scroll;"></div>
                {{form_widget(form.indisponibilities)}}
            </div>
            <div class="col-9">
                <h4 style="height: 3vh;">{{ 'autres'|trans({}, 'apartments') }}</h4>
                <div class="row" style="height: calc(100% - 3vh);">
                    <div class="col-4" style="display: flex; align-items: center;">
                        <p>{{ 'jusqua'|trans({}, 'apartments') }}</p>
                    </div>
                    <div class="col-8" style="display: flex; justify-content: space-around; flex-direction: column;">
                        <div class="row">
                            <div class="pictDiv" id="preview1">
                                <label for="form_pict1">
                                    +
                                    {{ form_widget(form.pict1) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview2">
                                <label for="form_pict2">
                                    +
                                    {{ form_widget(form.pict2) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview3">
                                <label for="form_pict3">
                                    +
                                    {{ form_widget(form.pict3) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview4">
                                <label for="form_pict4">
                                    +
                                    {{ form_widget(form.pict4) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview5">
                                <label for="form_pict5">
                                    +
                                    {{ form_widget(form.pict5) }}
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="pictDiv" id="preview6">
                                <label for="form_pict6">
                                    +
                                    {{ form_widget(form.pict6) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview7">
                                <label for="form_pict7">
                                    +
                                    {{ form_widget(form.pict7) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview8">
                                <label for="form_pict8">
                                    +
                                    {{ form_widget(form.pict8) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview9">
                                <label for="form_pict9">
                                    +
                                    {{ form_widget(form.pict9) }}
                                </label>
                            </div>
                            <div class="pictDiv" id="preview10">
                                <label for="form_pict10">
                                    +
                                    {{ form_widget(form.pict10) }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-5">
        <div class="inputDiv vertical-scroll-panel" style="position: relative;">
            <div class="select-btn">
                <span class="btn-text">{{ 'ajouterservices'|trans({}, 'apartments') }}</span>
            </div>
            {{ form_widget(form.addons) }}
            <ul class="list-items" style="z-index: 10;">
                {% for addon in addons %}
                    <li class="item">
                        <span class="checkbox">
                            <i class="fa-solid fa-check check-icon"></i>
                        </span>
                        <span class="item-text">{{ addon.name }}</span>
                        <span class="item-id" style="display: none;">{{ addon.id }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 d-flex mt-5" style="justify-content: center;">
            <button type="submit" class="validBtn">{{ 'valider'|trans({}, 'apartments') }}</button>
        </div>
        {{form_end(form)}}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(function() {

        var selectedDates = [];
        var indispo = document.getElementById('form_indisponibilities');

        $('input[name="daterange"]').daterangepicker({
            isInvalidDate: function(date) {
                if (date.isBefore(moment(), 'day')) {
                    return true;
                }

                for (var i = 0; i < selectedDates.length; i++) {
                    var range = selectedDates[i].split(' à ');
                    var startDate = moment(range[0], 'DD/MM/YYYY');
                    var endDate = moment(range[1], 'DD/MM/YYYY');
                    if (date.isBetween(startDate, endDate, null, '[]')) {
                        return true;
                    }
                }
                return false;
            },
            opens: 'left'
        }, function(start, end, label) {
            console.log("ouiii");
            var selectedDate = start.format('DD/MM/YYYY') + ' à ' + end.format('DD/MM/YYYY');
            addDateToList(selectedDate); 
        });

        function addDateToList(date) {
            var $dateSpan = $('<span>', {
                text: date
            });

            var $removeButton = $('<button>', {
                text: 'X',
                click: function() {
                    $dateSpan.remove();
                    var index = selectedDates.indexOf(date);
                    if (index > -1) {
                        selectedDates.splice(index, 1);
                    }
                }
            });

            $dateSpan.append($removeButton);

            $('#selectedDates').append($dateSpan);
            selectedDates.push(date);
            $('#form_indisponibilities').val(selectedDates.join(','))
        }
    });


    var ids = [
        { input: "form_mainPict", preview: "preview" },
        { input: "form_pict1", preview: "preview1" },
        { input: "form_pict2", preview: "preview2" },
        { input: "form_pict3", preview: "preview3" },
        { input: "form_pict4", preview: "preview4" },
        { input: "form_pict5", preview: "preview5" },
        { input: "form_pict6", preview: "preview6" },
        { input: "form_pict7", preview: "preview7" },
        { input: "form_pict8", preview: "preview8" },
        { input: "form_pict9", preview: "preview9" },
        { input: "form_pict10", preview: "preview10" },
    ];

    var images = [
        "{{ mainPict }}",
        "{{ pict1 }}",
        "{{ pict2 }}",
        "{{ pict3 }}",
        "{{ pict4 }}",
        "{{ pict5 }}",
        "{{ pict6 }}",
        "{{ pict7 }}",
        "{{ pict8 }}",
        "{{ pict9 }}",
        "{{ pict10 }}"
    ]

    images.forEach(function(img) {
        if (img != null){
            var input = document.getElementById(ids[images.indexOf(img)].input);
            var preview = document.getElementById(ids[images.indexOf(img)].preview);
            updatePreview(input, preview, img);
        }
    })

    ids.forEach(function(id) {
        var input = document.getElementById(id.input);
        var preview = document.getElementById(id.preview);
        
        input.addEventListener("change", function () {
            updatePreview(this, preview);
        });
    });

    function updatePreview(input, preview, url = null) {
        var file = input.files[0];
        
        if (file) {
            var reader = new FileReader();

            reader.addEventListener("load", function () {
                preview.style.backgroundImage = "url('" + reader.result + "')";
                preview.style.backgroundColor = "#ffffff";
                preview.style.border = "none";
            });

            reader.readAsDataURL(file);
        }

        if (url) {
            preview.style.backgroundImage = "url('" + url + "')";
            preview.style.backgroundColor = "#ffffff";
            preview.style.border = "none";
        }
    }

    var dropContainer = document.getElementById("dropcontainer");

    dropContainer.addEventListener("dragover", (e) => {
        e.preventDefault();
    }, false);

    dropContainer.addEventListener("dragenter", () => {
        dropContainer.classList.add("drag-active");
    });

    dropContainer.addEventListener("dragleave", () => {
        dropContainer.classList.remove("drag-active");
    });

    dropContainer.addEventListener("drop", (e) => {
        e.preventDefault();
        dropContainer.classList.remove("drag-active");
        input.files = e.dataTransfer.files;
        updatePreview(input);
    });

    mapboxgl.accessToken = 'pk.eyJ1IjoibGVvLXVyYWhhcmEiLCJhIjoiY2x2MTJrcHJ4MDIwdzJrdXNhcDhjazF4MSJ9.ZJjs_hvEVTuHKAe2CeDGbQ';
    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        countries: 'fr',
        bbox: [-5.3173828125, 41.27780646738183, 9.84375, 51.12421275782688],
        types: 'address',
        mapboxgl: mapboxgl
    });
    geocoder.addTo('#geocoder');

    const results = document.getElementById('form_address');
    geocoder.on('result', (e) => {
        results.value = JSON.stringify(e.result, null, 2);
    });

    geocoder.on('clear', () => {
        results.value = '';
    });


    const selectBtn = document.querySelector(".select-btn")
    const items = document.querySelectorAll(".item");
    const addonsInput = document.querySelector("#form_addons");
    var addonsValue = Array();

    selectBtn.addEventListener("click", () => {
        selectBtn.classList.toggle("open");
    });

    items.forEach(item => {
        item.addEventListener("click", () => {
            const id = item.querySelector(".item-id").textContent;
            console.log(addonsValue);
            if (item.classList.contains("checked")) {
                addonsValue = addonsValue.filter(e => e != id);
                addonsInput.value = addonsValue.toString();
            } else {
                addonsValue.push(id);
                addonsInput.value = addonsValue.toString();
            }
            item.classList.toggle("checked");
            var checked = document.querySelectorAll(".checked"),
                btnText = document.querySelector(".btn-text");
                if(checked && checked.length > 0){
                    const plurial = checked.length > 1 ? "s" : "";
                    btnText.innerText = `${checked.length} complément${plurial} sélectionné${plurial}`;
                }else{
                    btnText.innerText = "Ajoutez des compléments";
                }
        });
    });
</script>
{% endblock %}