{% extends 'backend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/show.css') }}>{% endblock %}

{% block activeGest %}active{% endblock %}
{% block activeRese %}active{% endblock %}

{% block title %}Afficher une réservation{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Afficher une réservation</h1>
            <div class="row">
                <div class="col-6">
                    {% set findDoc = 0 %}
                    {% for doc in reservation.documents %}
                        {% if doc.type|lower == "etat des lieux entree" %}
                            {% set findDoc = 1 %}
                                <div class="invFormDoc">
                                    <p class="card-text mb-1">{{ 'etatdeslieuxentree'|trans({}, 'user') }}</p>
                                    <a href="{{ doc.url }}" target="_blank" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/documents.png') }}></div></a>
                                </div>
                        {% elseif doc.type|lower == "etat des lieux sortie" %}
                            {% set findDoc = 1 %}
                                <div class="invFormDoc mt-3">
                                    <p class="card-text mb-1">{{ 'etatdeslieuxsortie'|trans({}, 'user') }}</p>
                                    <a href="{{ doc.url }}" target="_blank" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/documents.png') }}></div></a>
                                </div>
                        {% elseif doc.type|lower == "facture" %}
                            <div class="invFormDoc mt-3">
                                <p class="card-text mb-1">{{ 'facture'|trans({}, 'user') }}</p>
                                <a href="{{ doc.url }}" target="_blank" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/documents.png') }}></div></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if findDoc == 0 %}
                        <p class="card-text mb-1">{{ 'aucunetat'|trans({}, 'user') }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}