{% extends 'backend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/show.css') }}>{% endblock %}

{% block activeGest %}active{% endblock %}
{% block activeRese %}active{% endblock %}

{% block title %}Afficher une réservation{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Afficher une réservation</h1>
            <div class="row">
                <div class="col-6">
                    <p><strong>Id :</strong> {{ reservation.id }}</p>
                    <p><strong>Prix :</strong> {{ reservation.price }}</p>
                    <p><strong>Date de départ :</strong> {{ reservation.startingDate|date('d/m/Y H:i:s') }}</p>
                    <p><strong>Date de fin :</strong> {{ reservation.endingDate|date('d/m/Y H:i:s') }}</p>
                    {% if reservation['service'] is defined and reservation['service'] is not empty %}
                    <div class"container"><strong>Service :</strong>
                        <form action="{{ path('serviceShow') }}" method="post" style="display: inline;">
                            <input type="hidden" name="service" value="{{ reservation.service|json_encode }}">
                            <button type="submit" class="container" style="background-color: #A594F9;">
                                <div class="container">
                                    <p><strong>Nom:</strong> {{ reservation.service.name }}</p>
                            </button>
                        </form>
                    </div>
                    {% endif %}
                    {% if reservation['apartment'] is defined and reservation['apartment'] is not empty %}
                    <div class"container"><strong>Logement :</strong>
                        <form action="{{ path('apartmentShow') }}" method="post" style="display: inline;">
                            <input type="hidden" name="apartment" value="{{ reservation.apartment|json_encode }}">
                            <button type="submit" class="container" style="background-color: #A594F9;">
                                <div class="container">
                                    <p><strong>Nom:</strong> {{ reservation.apartment.name }}</p>
                                </div>
                            </button>
                        </form>
                    </div>
                {% endif %}
                {% if reservation['user'] is defined and reservation['user'] is not empty %}
                <div class"container"><strong>Logement :</strong>
                    <form action="{{ path('userShow') }}" method="post" style="display: inline;">
                        <input type="hidden" name="client" value="{{ reservation.user|json_encode }}">
                        <button type="submit" class="container" style="background-color: #A594F9;">
                            <div class="container">
                                <p><strong>Nom:</strong> {{ reservation.user.firstname ~ " " ~ reservation.user.lastname|capitalize }} </p>
                            </div>
                        </button>
                    </form>
                </div>
                {% endif %}
             </div>
        </div>
    </div>
{% endblock %}