<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/v/dt/dt-2.0.3/b-3.0.1/b-html5-3.0.1/sc-2.4.1/datatables.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css">
        <link rel="stylesheet" href={{ asset('styles/frontend/base.css') }}>
        <link rel="stylesheet" href={{ asset('styles/base_crud.css') }}>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg mt-0" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('icons/logo/2_white_mode.png') }}" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
                </a>
                {% set role = app.request.cookies.get('roles') %}
                <div class="collapse navbar-collapse" id="navbarNav">
                    {% if role == 'ROLE_TRAVELER' or role is not defined or role == null %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% block activeApar %}{% endblock %} me-4" aria-current="page" href={{ path('apartmentsList') }}>Logements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block activeServ %}{% endblock %} me-4" href={{ path('servicesList') }}>Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block activeProv %}{% endblock %} me-4" href={{ path('providersList') }}>Prestataires</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" href="#">Contact</a>
                            </li>
                        </ul>
                    {% elseif role == 'ROLE_LESSOR' %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% block activeMyApar %}{% endblock %} me-4" aria-current="page" href={{ path('myApartmentsList') }}>Mes logements</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block activeCreaApar %}{% endblock %} me-4" href={{ path('apartmentCreate') }}>Ajouter un logement</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block activeProvi %}{% endblock %} me-4" href={{ path('providersList') }}>Prestataires</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" href="#">Contact</a>
                            </li>
                        </ul>
                    {% elseif role == 'ROLE_PROVIDER' %}
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link {% block activeMyServ %}{% endblock %} me-4" aria-current="page" href={{ path('myServicesList') }}>Mes prestations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% block activeCreaServ %}{% endblock %} me-4" href={{ path('serviceCreateProvider') }}>Ajouter une prestation</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" href="#">Mes interventions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link me-4" href="#">Contact</a>
                            </li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav">
                            {# ROLE_ADMIN #}
                        </ul>
                    {% endif %}
                </div>
                
                {% set id = app.request.cookies.get('id') %}
                {% set pp = app.request.cookies.get('profile_pict') %}

                {% if id is not defined or id is null %}
                    <a href="{{ path('login') }}" class="btn btn-primary me-3 btnConnect">Connexion</a>
                    <a href="{{ path('register') }}" class="btn btn-primary btnRegister">Inscription</a>
                {% else %}
                    <div class="d-flex align-items-center">
                        <span class="username">{{ app.request.cookies.get('firstname') }} {{ app.request.cookies.get('lastname') }}</span>
                        {% if pp is null %}
                            <a href={{ path('myProfile') }}><img src={{ asset('icons/profile_pict_default_white.png') }} alt="Profile Picture" width="40" height="40" class="rounded-circle me-2"></a>
                        {% else %}
                            <a href={{ path('myProfile') }}><img src="{{ pp }}" alt="Profile Picture" width="40" height="40" class="rounded-circle me-2"></a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </nav>

        <div class="row mainRow">
            <div class="col-2 p-0">
                <div class="d-flex flex-column p-3 sticky-top sideBar">
                    <ul class="nav nav-pills flex-column mb-auto navUl">
                        <li class="nav-item">
                            <a href="#" class="nav-link {% block activeAcc %}{% endblock %}" aria-current="page">
                                Mon compte
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link {% block activeSub %}{% endblock %}" aria-current="page">
                                Mon abonnement
                            </a>
                        </li>
                        <hr class="mx-auto opacity-100">
                        <li>
                            <button class="btn btn-toggle border-0 gestionBtn collapsed {% block activeRese %}{% endblock %}" data-bs-toggle="collapse" data-bs-target="#reservation-collapse" aria-expanded="false">
                                Mes réservations
                            </button>
                            <div class="collapse menuGestion" id="reservation-collapse" >
                                <ul class="btn-toggle-nav list-unstyled fw-normal small gestionUl">
                                    <li><a href={{ path('reservationsPast') }} class="d-inline-flex text-decoration-none rounded mb-1 {% block activePast %}{% endblock %}">Passées</a></li>
                                    <li><a href={{ path('reservationsPresent') }} class="d-inline-flex text-decoration-none rounded mb-1 {% block activePres %}{% endblock %}">En cours</a></li>
                                    <li><a href={{ path('reservationsFuture') }} class="d-inline-flex text-decoration-none rounded mb-1 {% block activeFutu %}{% endblock %}">Futures</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button class="btn btn-toggle border-0 gestionBtn collapsed {% block activeProvList %}{% endblock %}" data-bs-toggle="collapse" data-bs-target="#prestations-collapse" aria-expanded="false">
                                Mes prestations
                            </button>
                            <div class="collapse menuGestion" id="prestations-collapse" >
                                <ul class="btn-toggle-nav list-unstyled fw-normal small gestionUl">
                                    <li><a href={{ path('lessorList') }} class="d-inline-flex text-decoration-none rounded mb-1 {% block activePast2 %}{% endblock %}">Passées</a></li>
                                    <li><a href={{ path('providerList') }} class="d-inline-flex text-decoration-none rounded mb-1 {% block activePres2 %}{% endblock %}">En cours</a></li>
                                    <li><a href={{ path('travelerList') }} class="d-inline-flex text-decoration-none rounded mb-1 {% block activeFutu2 %}{% endblock %}">Futures</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link {% block activeDem %}{% endblock %}" aria-current="page">
                                Mes demandes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link {% block activeDoc %}{% endblock %}" aria-current="page">
                                Mes documents
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href={{ path('logoutFunc') }} class="logoutBtn nav-link btn btn-error" aria-current="page">
                                Se déconnecter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        {% block body %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
