{% extends 'frontend/user/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block activeAcc %}active{% endblock %}

{% block title %}{{ 'modifierprofil'|trans({}, 'user') }}{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>{{ 'modifierprofil'|trans({}, 'user') }}</h1>
            <div class="errors">{%if errorMessages is defined %}<ul>{% for errorMessage in errorMessages %}<li>{{errorMessage}}</li>{% endfor %}</ul>{% endif %}</div>
            {{form_start(form)}}
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.email)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.firstname)}}
                    <div class="errors">{{form_errors(form.firstname)}}</div>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.lastname)}}
                    <div class="errors">{{form_errors(form.lastname)}}</div>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.telNumber)}}
                    <div class="errors">{{form_errors(form.telNumber)}}</div>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.profilePict)}}
                </div>
                <button type="submit" class="btn">{{ 'modifier'|trans({}, 'user') }}</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}