{% extends 'frontend/user/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block activeDem %}active{% endblock %}

{% block title %}Liste des demandes{% endblock %}

{% block body %}
<script>
    $(document).ready( function () {
        $('#crudList').DataTable( {
            buttons: true,
            pageLength: 10,
            layout: {
                topStart: {
                    search: {
                        placeholder: "Rechercher...",
                        search: ""
                    }
                },
                topEnd: 'buttons',
                bottomStart: 'paging',
                bottomEnd: 'info',
            },
            language: {
                search: "",
                info: "Affichage des entrées _START_ à _END_ sur _TOTAL_ au total",
            },
            buttons: [
                'pdf'
            ],
            columnDefs: [
                {
                    targets: 3,
                    className: 'dt-body-left dt-head-left'
                },
                {
                    targets: -1,
                    orderable: false,
                },
            ]
        } );
    } );
</script>
    <div class="col-10 p-0">
        <div class="p-3">
            <div class="btn-create-row">
                <h1>Liste des demandes</h1>
            </div>
            <table id="crudList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Service</th>
                        <th scope="col">Date demandée</th>
                        <th scope="col">Date de la demande</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                        <tr>
                            <td>
                                <form action="{{ path('serviceDetail', {'id':request.service.id}) }}" method="post" style="display: inline;">
                                    <input type="hidden" name="service" value="{{ request.service|json_encode }}">
                                    <button type="submit" class="btn btn-light apartment" style="height:40px"><p> {{ request.service.name|capitalize }} </p></button>
                                </form>
                            </td>
                            <td>{{ request.startingDate|date('d/m/Y') }}</td>
                            <td>{{ request.dateCreation|date('d/m/Y') }}</td>
                            <td class="action">
                                <form action="{{ path('myReservationDetail') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="reservation" value="{{ request|json_encode }}">
                                    <button type="submit" class="btn" style="background-color: #18A0FB;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/chart.png') }}></div></button>
                                </form>
                                <a href="{{ path('myReservationDocuments', {'id': request.id }) }}" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/documents.png') }}></div></a>
                                <a href="{{ path('myReservationOpinion', {'id': request.id }) }}" class="btn" style="background-color: #4CBA78;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/star.png') }}></div></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}