{% extends 'frontend/user/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block activeRese %}active{% endblock %}
{% block activePast %}active{% endblock %}

{% block title %}Liste des réservations passées{% endblock %}

{% block body %}
<script>
    $(document).ready( function () {
        $('#crudList').DataTable( {
            buttons: true,
            pageLength: 10,
            layout: {
                topStart: {
                    search: {
                        placeholder: "Rechercher...",
                        search: ""
                    }
                },
                topEnd: 'buttons',
                bottomStart: 'paging',
                bottomEnd: 'info',
            },
            language: {
                search: "",
                info: "Affichage des entrées _START_ à _END_ sur _TOTAL_ au total",
            },
            buttons: [
                'pdf'
            ],
            columnDefs: [
                {
                    targets: 3,
                    className: 'dt-body-left dt-head-left'
                },
                {
                    targets: -1,
                    orderable: false,
                },
            ]
        } );
    } );
</script>
    <div class="col-10 p-0">
        <div class="p-3">
            <div class="btn-create-row">
                <h1>Liste des réservations passées</h1>
            </div>
            <table id="crudList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Logement</th>
                        <th scope="col">Dates</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>
                                <form action="{{ path('apartmentsDetail', {'id':reservation.apartment.id}) }}" method="post" style="display: inline;">
                                    <input type="hidden" name="apartment" value="{{ reservation.apartment|json_encode }}">
                                    <button type="submit" class="btn btn-light apartment" style="height:40px"><p> {{ reservation.apartment.name|capitalize }} </p></button>
                                </form>
                            </td>
                            <td>{{ reservation.startingDate|date('d/m/Y') }} - {{ reservation.endingDate|date('d/m/Y') }}</td>
                            <td>{{ reservation.price }}€</td>
                            <td class="action">
                                <form action="{{ path('myReservationDetail') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="reservation" value="{{ reservation|json_encode }}">
                                    <button type="submit" class="btn" style="background-color: #18A0FB;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/chart.png') }}></div></button>
                                </form>
                                {% if reservation.documents is not empty %}
                                    <a href="{{ reservation.documents[0].url }}" target="_blank" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/documents.png') }}></div></a>
                                {% endif %}                                
                                {% if reservation.review is defined %}
                                    <a href="{{ path('reviewShowFE', {'review': reservation.review|json_encode }) }}" class="btn" style="background-color: #4CBA78;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/star.png') }}></div></a>
                                {% else %}    
                                    <a href="{{ path('myReservationOpinion', {'id': reservation.id, 'apartment': reservation.apartment.id }) }}" class="btn" style="background-color: #4CBA78;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/star.png') }}></div></a>
                                {% endif %}                            
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}