{% extends 'backend/base.html.twig' %}

{% block title %}Afficher un utilisateur{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Afficher un utilisateur</h1>
            <div class="row">
                <div class="col-6">
                    <p><strong>Id :</strong> {{ user.id }}</p>
                    <p><strong>Nom :</strong> {{ user.lastname }}</p>
                    <p><strong>Prénom :</strong> {{ user.firstname }}</p>
                    <p><strong>Email :</strong> {{ user.email }}</p>
                    <p><strong>Numéro de téléphone :</strong> {{ user.telNumber }}</p>
                    <p><strong>Dernière connexion :</strong> {{ user.lastConnection|date('d/m/Y H:i:s') }}</p>
                    <p><strong>Inscrit le :</strong> {{ user.dateInscription|date('d/m/Y H:i:s') }}</p>
                    <p><strong>Rôles :</strong> 
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                    </p>
                    {% if user['documents'] is defined and user['documents'] is not empty %}
                        <div class"container"><strong>Documents :</strong>
                            <ul>
                                {% for document in user.documents %}
                                    <li><a href={{ document.url }} target="blank_" class="btn" style="background-color: #A594F9;">{{ document.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                <div class="col-6">
                    <p><strong>Photo :</strong></p>
                    <img src="{{ asset('profiles/') }}" alt="{{ user.firstname }}" class="img-fluid">
                </div>
                
        </div>
    </div>
{% endblock %}