{% extends 'frontend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>{{ 'créeravis'|trans({}, 'reviews') }}</h1>
            <div class="errors" style="color:red;">{%if errorMessage is defined %}<p>{{errorMessage}}</p>{% endif %}</div>
            {{form_start(form)}}
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.rate)}}
                    <div class="errors">{{form_errors(form.rate)}}</div>
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.content)}}
                    <div class="errors">{{form_errors(form.content)}}</div>
                </div>
                <button type="submit" class="btn">{{ 'créer'|trans({}, 'reviews') }}</button>

            {{form_end(form)}}
        </div>
    </div>
{% endblock %}