{% extends 'backend/base.html.twig' %}

{% block activeGest %}active{% endblock %}
{% block activeComp %}active{% endblock %}

{% block stylesheets %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
{% endblock %}

{% block title %}Modifier une entreprise{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Modifier une entreprise</h1>
            {{form_start(form)}}
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.companyName)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.siretNumber)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.companyEmail)}}
                </div>
                <div class="inputDiv" style="position: relative;">
                    {{form_widget(form.companyPhone)}}
                </div>
                {% if defaults.address is defined%} <p>{{ defaults.address }}</p> {% endif %}
                <div id="geocoder" style="position: relative; height: 3vh;"></div>
                {{form_widget(form.address)}}
                <div class="errors">{{form_errors(form.address)}}</div>
                <button type="submit" class="btn">Modifier</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibGVvLXVyYWhhcmEiLCJhIjoiY2x2MTJrcHJ4MDIwdzJrdXNhcDhjazF4MSJ9.ZJjs_hvEVTuHKAe2CeDGbQ';
    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        countries: 'fr',
        bbox: [-5.3173828125, 41.27780646738183, 9.84375, 51.12421275782688],
        types: 'address',
        mapboxgl: mapboxgl
    });
    geocoder.addTo('#geocoder');

    const results = document.getElementById('form_address');
    geocoder.on('result', (e) => {
        results.value = JSON.stringify(e.result, null, 2);
    });

    geocoder.on('clear', () => {
        results.value = '';
    });
</script>
{% endblock %}