{% extends 'backend/base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des utilisateurs</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Inscrit le</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lessor in lessors %}
                        <tr>
                            <td>{{ lessor.firstname }}</td>
                            <td>{{ lessor.lastname }}</td>
                            <td>{{ lessor.email }}</td>
                            <td>{{ lessor.telNumber }}</td>
                            <td>{{ lessor.dateInscription | date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
