{% extends 'backend/base.html.twig' %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des intervenants</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Inscrit le</th>
                    </tr>
                </thead>
                <tbody>
                    {% for provider in providers %}
                        <tr>
                            <td>{{ provider.firstname }}</td>
                            <td>{{ provider.lastname }}</td>
                            <td>{{ provider.email }}</td>
                            <td>{{ provider.telNumber }}</td>
                            <td>{{ provider.dateInscription | date('d/m/Y H:i:s') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
