{% extends 'backend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block title %}Liste des intervenants{% endblock %}

{% block body %}
<script>
    $(document).ready( function () {
        $('#crudList').DataTable( {
            paging: false,
            scrollY: 400,
            buttons: true,
            layout: {
                topStart: {
                    search: {
                        placeholder: "Rechercher...",
                        search: ""
                    }
                },
                topEnd: 'buttons',
            },
            language: {
                search:"",
            },
            buttons: [
                'pdf'
            ],
        } );
    } );
</script>
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des intervenants</h1>
            <h4 class="mt-4">Non validés:</h4>
            <div class="container m-0 mb-4">
                <div class="row">
                {% for provider in unverifiedProviders %}
                    <div class="col-3 p-0 me-4">
                        <div class="noValidateCard">
                            <img src={%if 'profilePict' in provider %}{{ provider.profilePict }}{% else %}{{ asset('icons/profile_pict_default.png') }}{% endif %}>
                            <p>{{ provider.firstname }} {{ provider.lastname }}</p>
                            <p>Inscrit le : {{ provider.dateInscription | date('d/m/Y H:i:s') }}</p>
                            <p>Email : {{ provider.email }}</p>
                            <p>Téléphone : {{ provider.telNumber }}</p>
                            <p>Voir plus</p>
                            <div class="validateBtns">
                                <a href="{{ path('providerAccept', {'id': provider.id}) }}" class="btn btn-info">Valider</a>
                                <a href="{{ path('providerDelete', {'id': provider.id}) }}" class="btn btn-danger">Refuser</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
              </div> 
            <h4>Validés:</h4>
            <table id="crudList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Inscrit le</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for provider in verifiedProviders %}
                        <tr>
                            <td>{{ provider.firstname }}</td>
                            <td>{{ provider.lastname }}</td>
                            <td>{{ provider.email }}</td>
                            <td>{{ provider.telNumber }}</td>
                            <td>{{ provider.dateInscription | date('d/m/Y H:i:s') }}</td>
                            <td>
                                <a href="{{ path('providerDelete', {'id': provider.id}) }}" class="btn btn-danger">Supprimer</a>
                                <form action="{{ path('providerEdit') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="provider" value="{{ provider|json_encode }}">
                                    <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                                <form action="{{ path('providerShow') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="provider" value="{{ provider|json_encode }}">
                                    <button type="submit" class="btn btn-info">Show</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
