{% extends 'backend/base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des réservations</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numéro</th>
                        <th scope="col">Date de départ</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Actif</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                        <tr>
                            <td>{{ reservation.id }}</td>
                            <td>{{ reservation.starting_date | date('d/m/Y H:i:s') }}</td>
                            <td>{{ reservation.ending_date | date('d/m/Y H:i:s') }}</td>
                            <td>{{ reservation.price }}</td>
                            <td>{{ reservation.active }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
