{% extends 'backend/base.html.twig' %}

{% block title %}Afficher un prestataire{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Afficher un prestataire</h1>
            <div class="row">
                <div class="col-6">
                    <p><strong>Id :</strong> {{ provider.id }}</p>
                    <p><strong>Nom :</strong> {{ provider.lastname }}</p>
                    <p><strong>Prénom :</strong> {{ provider.firstname }}</p>
                    <p><strong>Email :</strong> {{ provider.email }}</p>
                    <p><strong>Numéro de téléphone :</strong> {{ provider.telNumber }}</p>
                    <p><strong>Dernière connexion :</strong> {{ provider.lastConnection }}</p>
                    <p><strong>Inscrit le :</strong> {{ provider.dateInscription }}</p>
                    <p><strong>Rôles :</strong> 
                    {% for role in provider.roles %}
                        {{ role }}
                    {% endfor %}
                    </p>
                    <div class"container"><strong>Documents :</strong>
                        <ul>
                            {% for document in provider.documents %}
                                <li>{{ document.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                <div class="col-6">
                    <p><strong>Photo :</strong></p>
                    <img src="{{ asset('profiles/') }}" alt="{{ provider.firstname }}" class="img-fluid">
                </div>
        </div>
    </div>
{% endblock %}