{% extends 'backend/base.html.twig' %}

{% block title %}Afficher un document{% endblock %}

{% block body %}
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Afficher un document</h1>
            <div class="row">
                <div class="col-6">
                    <p><strong>Id :</strong> {{ document.id }}</p>
                    <p><strong>Nom :</strong> {{ document.name }}</p>
                    <p><strong>Propriétaire :</strong> {{ document.owner.firstname ~ " " ~ document.owner.lastname }}</p>
                    <p><strong>Type :</strong> {{ document.type }}</p>
                    <p><strong>Créé le :</strong> {{ document.dateCreation }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}