{% extends 'backend/base.html.twig' %}

{% block title %}Liste des voyageurs{% endblock %}

{% block body %}
<script>
    $(document).ready( function () {
        $('#crudList').DataTable( {
            paging: false,
            scrollY: 400,
            buttons: true,
            layout: {
                topStart: {
                    search: {
                        placeholder: "Rechercher...",
                        search: ""
                    }
                },
                topEnd: 'buttons',
            },
            language: {
                search:"",
            },
            buttons: [
                'pdf'
            ],
        } );
    } );
</script>
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des voyageurs</h1>
            <table id="crudList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Inscrit le</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for traveler in travelers %}
                        <tr>
                            <td>{{ traveler.firstname }}</td>
                            <td>{{ traveler.lastname }}</td>
                            <td>{{ traveler.email }}</td>
                            <td>{{ traveler.telNumber }}</td>
                            <td>{{ traveler.dateInscription | date('d/m/Y H:i:s') }}</td>
                            <td>
                                <a href="{{ path('travelerDelete', {'id': traveler.id}) }}" class="btn btn-danger">Supprimer</a>
                                <form action="{{ path('travelerEdit') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="traveler" value="{{ traveler|json_encode }}">
                                    <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                                <form action="{{ path('travelerShow') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="traveler" value="{{ traveler|json_encode }}">
                                    <button type="submit" class="btn btn-info">Show</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

