{% extends 'backend/base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href={{ asset('styles/crud.css') }}>{% endblock %}

{% block activeGest %}active{% endblock %}
{% block activeDocu %}active{% endblock %}

{% block title %}Liste des documents{% endblock %}

{% block body %}
<script>
    $(document).ready( function () {
        $('#crudList').DataTable( {
            buttons: true,
            pageLength: 10,
            layout: {
                topStart: {
                    search: {
                        placeholder: "Rechercher...",
                        search: ""
                    }
                },
                topEnd: 'buttons',
                bottomStart: 'paging',
                bottomEnd: 'info',
            },
            language: {
                search: "",
                info: "Affichage des entrées _START_ à _END_ sur _TOTAL_ au total",
            },
            buttons: [
                'pdf'
            ],
            columnDefs: [
                {
                    targets: -1,
                    orderable: false,
                }   
            ]
        } );
    } );
</script>
    <div class="col-10 p-0">
        <div class="p-3">
            <h1>Liste des documents</h1>
            <table id="crudList" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Propriétaire</th>
                        <th scope="col">Type</th>
                        <th scope="col">Créé le</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.name }}</td>
                            <td>
                                <form action="{{ path('userShow') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="user" value="{{ document.owner|json_encode }}">
                                    <button type="submit" class="btn btn-light owner" style="height:40px"><p> {{ document.owner.firstname ~ " " ~ document.owner.lastname }} </p></button>
                                </form>
                            </td>
                            <td>{{ document.type }}</td>
                            <td>{{ document.dateCreation|date('d/m/Y H:i:s') }}</td>
                            <td class="action">
                                <a href="{{ path('documentDelete', {'id': document.id}) }}" class="btn" style="background-color: #EE3939;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/bin.png') }}></div></a>                                
                                <form action="{{ path('documentEdit') }}" method="post" style="display: inline;">
                                    <input type="hidden" name="document" value="{{ document|json_encode }}">
                                    <button type="submit" class="btn" style="background-color: #18A0FB;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/pen.png') }}></div></button>
                                </form>
                                <a href={{ document.url }} target="blank_" class="btn" style="background-color: #A594F9;"><div class="btnImage"><img style="height:20px;" src={{ asset('icons/crud/eye.png') }}></div></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

